body {
    padding-top: 40px;
}
.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

button {
  font: 14px Helvetica Neue;
  background-color: #222;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}

.graphic {
}

rect.border {
    fill: #eeeeee;
    fill-opacity: .5;
    stroke: #dddddd;
    stroke-width: 2px;
}

.cluster0 {
    /* orange */
    fill: hsl(25,80%,80%);
    background: hsl(25,80%,80%);
}
.cluster1 {
    /* green */
    fill: hsl(120,80%,80%);
    background: hsl(120,80%,80%);
}
.cluster2 {
    /*fill: yellow;*/
    fill: hsl(65,80%,80%);
    background: hsl(65,80%,80%);
}
.cluster3 {
    /*fill: blue;*/
    fill: hsl(210,80%,80%);
    background: hsl(210,80%,80%);
}
.cluster4 {
    /*fill: black;*/
    fill: hsl(0,0%,80%);
    background: hsl(0,0%,80%);
}
.cluster5 {
    /*fill: white;*/
    fill: hsl(0,0%,95%);
    background: hsl(0,0%,95%);
}
.cluster6 {
    /*fill: pink;*/
    fill: hsl(310,80%,80%);
    background: hsl(310,80%,80%);
}
.cluster7 {
    /*fill: cyan;*/
    fill: hsl(180,80%,80%);
    background: hsl(180,80%,80%);
}

.toEat {
    fill-opacity: .05;
}

.denied {
    fill: gray;
}

/* try to make the popover scrollable. To no avail.
.popover .inner {
    width: 370px;
    height: 220px;
    overflow: auto;
}

.popover .content {
    width: 350px;
    height: 200px;
    overflow: auto;
}
*/

.arc .bordered {
  fill: #ddd;
  stroke: #999;
}

.arc .nopaint {
  fill-opacity: 0;
}

.percentdesc {
  //font-weight: bold;
  font-size: 8pt;
}

.percenttext {
  fill: #999;
  text-style: italic;
  font-size: 8pt;
}

svg {
  fill: #999;
  text-style: italic;
  font-size: 8pt;
}
